* {
    position: relative;
}

.pos-right {
    position: absolute;
    right: $padding;
}

.pos-left {
    position: absolute;
    left: $padding;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

section {
    display: block;
    width: calc(100% - $padding*2);
    max-width: $widthPadding;
    padding: $padding;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-width: 3px;
    margin: $padding auto;
}

.wrapper {
    @include border-radius(7px);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0 $padding $padding $padding;
    margin-bottom: $padding;
    background: #f9f9f9;
}

.popup {
    position: fixed;
    top: $padding;
    left: $padding;
    right: $padding;
    text-align: center;
    background: #f3f3f3;
    border: 1px solid $darkGray;
    @include border-radius();
    padding: $padding/2 0;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.05);

    &.red {
        background-color: $background-red-light;
        color: $text-red;
        border-color: $border-red;
    }
    &.green {
        background-color: $background-green-light;
        color: $text-green;
        border-color: $border-green;
    }
    &.blue {
        background-color: $background-blue-light;
        color: $text-blue;
        border-color: $border-blue;
    }
    &.orange {
        background-color: $background-orange-light;
        color: $text-orange;
        border-color: $border-orange;
    }
}
