table {
    width: 100%;
    border-collapse: separate;
    color: inherit;

    td {
        border-bottom: 1px solid $border-default-light;
        padding: $padding/3 5px;
    }

    th {
        border-bottom: 3px solid $border-default-light;
        text-align: left;
        padding: $padding/2 5px;
    }

    &.condensed {
        td {
            padding: $padding/6 5px;
        }
        th {
            padding: $padding/5 5px;
        }
    }

    &.hoverable {
        tr:hover {
            background: $background-default-light;
        }
    }

    &.bordered {
        border-collapse: collapse;
        border-bottom: 3px solid $border-default-light;

        td, th {
            border: 1px solid $border-default-light;
        }
        th {
            border-bottom-width: 3px;
        }
    }

    tr, td, th {
        &.red {
            background: $background-red-light;
            color: $text-red;
            border-color: rgba($border-red, 0.25);
            td, th {
                border-color: rgba($border-red, 0.25);
            }
        }
        &.green {
            background: $background-green-light;
            color: $text-green;
            border-color: rgba($border-green, 0.25);
            td, th {
                border-color: rgba($border-green, 0.25);
            }
        }
        &.blue {
            background: $background-blue-light;
            color: $text-blue;
            border-color: rgba($border-blue, 0.25);
            td, th {
                border-color: rgba($border-blue, 0.25);
            }
        }
        &.orange {
            background: $background-orange-light;
            color: $text-orange;
            border-color: rgba($border-orange, 0.25);
            td, th {
                border-color: rgba($border-orange, 0.25);
            }
        }
    }
}
