/* _typography.scss */

body {
    font-size: 100%;
    font-family: $font-slab;
    color: $darkGray;
    background: #f3f3f3;
    -webkit-text-stroke: 0.3px;
}

.uppercase {
    text-transform: uppercase;
}

.text-red {
    color: $text-red;
}
.text-green {
    color: $text-green;
}
.text-blue {
    color: $text-blue;
}
.text-orange {
    color: $text-orange;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $font-slab;
    -webkit-text-stroke: 0.6px;
    line-height: 40px;

    &.sub {
        opacity: 0.5;
        font-family: $font;
        font-weight: 700;
    }

    &.inline {
        display: inline-block;
    }

    small {
        opacity: 0.5;
        font-size: 75%;
    }

    &.underline {
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}

h1 {
    font-size: 2em;
}

p {
    &.lead {
        font-size: 125%;
        font-weight: bold;
    }
}

code {
    background: #efefef;
    border: 1px solid #ddd;
    @include border-radius(3px);
    display: inline-block;
    padding: $padding/4 $padding/2;
    font-family: $font-mono;
    font-size: 80%;

    &.block {
        display: block;
        padding: $padding/2;
    }
}

blockquote {
    display: block;
    background: rgba(0,0,0,0.05);
    border-left: 3px solid $darkGray;
    padding: $padding;

    footer {
        opacity: 0.5;
        padding-top: $padding;
        font-style: italic;

        &:before {
            content: "- ";
        }
    }
}

dl {
    margin: 0;
    dt {
        font-weight: bold;
        line-height: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    dd {
        margin: 0;
    }

    &.dl-horizontal {
        dt {
            float: left;
            width: 160px;
        }

        dd {
            line-height: 1.5em;
            margin-left: 180px;
        }
    }
}

.context {
    display: block;
    background: #f3f3f3;
    border-left: 3px solid $darkGray;
    padding: $padding;
    //font-weight: 700;

    &.red {
        background: $background-red-light;
        border-color: $border-red;
        color: $text-red;
    }

    &.green {
        background: $background-green-light;
        border-color: $border-green;
        color: $text-green;
    }

    &.blue {
        background: $background-blue-light;
        border-color: $border-blue;
        color: $text-blue;
    }

    &.orange {
        background: $background-orange-light;
        border-color: $border-orange;
        color: $text-orange;
    }
}
