@import 'variables';
@import 'mixins';

* {
    //margin-bottom: $padding !important;
}

h1, h2, h3, h4, h5, h6 {
    //margin-bottom: 0px;
}

.context {
    margin-top: $padding;
}

nav {
    position: fixed;
    top: 123px;
    right: 0;
//    background: #fff;
//    border: 1px solid #ddd;
//    border-bottom-width: 3px;
    width: 175px;
    font-family: $font;
    padding: 5px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: block;
            color: $border-blue;
            text-decoration: none;
            @include transition();
            padding: 5px 10px;
            border-left: 3px solid transparent;

            &:hover, &.active {
                //background: $background-blue-light;
                color: $border-blue-hover;
                border-color: $border-blue;
                //font-weight: bold;
            }
        }

        ul {
            a {
                font-size: 80%;
                padding: 3px 20px;
                border-width: 2px;
                opacity: 0.75;
            }
        }
    }

}
